$carousel-transition-duration: 1s !default;
$carousel-transition:  transform $carousel-transition-duration slide-out-left !default;
$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         0;
$carousel-indicator-active-bg:       $black;
$carousel-indicator-active-opacity:  0;
@import "main.scss";